<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" content="width=device-width, inital-scale=1">
        <title>Index</title>
    </head>
    <body>
        
        <h1>Shortage occupations checker</h1>
        <h3>See if the job you are wanting to list is eligble for a shortage worker visa.</h3>
        
     <form action = "#" method="POST">
    <p>What's the job you are looking to check?</p>
    <input type = "text" name = "yourname" /><br>
    <input type = "submit" value = "Submit" />
</form> 
        
    </body>
</html>