<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" content="width=device-width, inital-scale=1">
        <title>Index</title>
        <style>
            body{text-align: center;
                background-color: papayawhip;
            }
            
                
        </style>
    </head>
    <body>

        <h1>Shortage occupations checker</h1>
        <h3>See if the job you are wanting to list is eligble for a shortage worker visa.</h3>
        
     <form action = "#" method="POST">
    <p>What's the job you are looking to check?</p>
    <input type = "text" name = "yourname" /><br><br><br>
    <input type = "submit" value = "Submit" />
</form>     
    </body>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>